$img_width: 25rem;

*{
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-size: 1vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body{
  background-color: #f5f5eb;
}

.page-cssbayan{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container{
  width: 40rem;
  margin: 0 auto;
}

.accordion{

  h1{
    font-size: 2rem;
  }

  &__item{
    padding-bottom: 1.5rem;
  }

  &__title{
    font-size: 1.4rem;
    font-weight: bold;

    border-top: .1rem solid #794f45;
    padding: 1.5rem 0 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__ico{
    width: 2rem;
    height: 2rem;
    //opacity: 0;
    transition: opacity .5s ease;
    margin-right: 1rem;

    img{
      width: 100%;
      height: 100%;
      transition: transform .5s ease-in;
    }
  }

  &__content{
    display: block;
    cursor: pointer;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
    img{
      display: block;
      margin: 0 auto;
      width: $img_width;
      height: 0;
      opacity: 0;
      transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
  }

  &__checkbox{
    height: 0;
    opacity: 0;
    &:checked {
      & ~ label .accordion__title{
        .accordion__ico{
          img{
            transform: rotate(45deg);
          }
        }
      }

      & ~ label .accordion__content{
        margin-top: 2rem;
        transition: height 5s;
        max-height: $img_width;

        img{
          height: $img_width;
          opacity: 1;
        }
      }
    }
  }



  &__item:active{
    .accordion__title{
      color: #1fffab;
    }
    .accordion__content{
      img{
        filter: hue-rotate(90deg);
      }
    }
  }
}

@media (hover: hover){
  .accordion {

    &__title{
      color: black;
      transition: color .5s ease-in-out;
    }
    &:hover {
      .accordion__title{
        color: #0159d9;
      }
      .accordion__ico {
        opacity: 1;
      }

    }

    &__item{
      .accordion__ico{
        opacity: 0;
      }
      &:hover{
        .accordion__title{
          color: black;
        }
        .accordion__ico{
          img{
            transform: rotate(45deg);
          }
        }

        .accordion__content{
          margin-top: 2rem;
          transition: max-height .5s;
          max-height: $img_width;
          img{
            height: $img_width;
            opacity: 1;
          }
        }
      }
    }

  }
}


@media (max-width: 51.25em) { //820px
  .container{
    width: 100%;
    margin: 0 auto;
    padding: 10rem;
  }

  .accordion {

    h1 {
      font-size: 4rem;
    }

    &__item{
      padding-bottom: 2rem;
    }

    &__title{
      font-size: 2.5rem;
      padding: 2rem 0 0 1rem;
      color: #0159d9;
    }

    &__ico{
      width: 3rem;
      height: 3rem;
      opacity: 1;
    }

    &__checkbox{
      &:checked {
        & ~ label .accordion__title{
          color: black;
        }

      }
    }

  }
}

@media (max-width: 20em) { //320px
  .container{
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }

  .accordion {

    &__item{
      padding-bottom: 3rem;
    }

    h1 {
      font-size: 6rem;
    }


    &__title{
      font-size: 2.8rem;
      padding: 3rem 0 0 1rem;
    }

    &__ico{
      width: 4rem;
      height: 4rem;
      img{
        width: 100%;
        height: 100%;
        transition: transform .5s ease-in;
      }
    }


  }
}
